
	<!-- main container -->
    <div class="content">
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header">
                    <h3>阿姨添加</h3>
                </div>

                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 with-sidebar">
                        <div class="container">
                            <form class="new_user_form inline-input" action="{:url('Admin/Index/aunt_add')}" method="post"/>
                            <div class="span12 field-box">
                                <label>用户名:</label>
                                <input class="span9" name="username" type="text" placeholder="用户名"/>
                            </div>
                            <div class="span12 field-box">
                                <label>密码:</label>
                                <input class="span9" name="password" type="password" placeholder="密码"/>
                            </div>
                                <div class="span12 field-box">
                                    <label>姓名:</label>
                                    <input class="span9" name="name" type="text" placeholder="姓名"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>地址:</label>
                                    <input class="span9" name="address" type="text" placeholder="地址"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>年龄:</label>
                                    <input class="span9" name="age" type="text" placeholder="年龄"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>手机:</label>
                                    <input class="span9" name="phone" type="text" placeholder="手机号码"/>
                                </div>
                                <div class="span12 field-box">
                                    <label>性别:</label>
                                    <select name="sex">
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select>
                                </div>
                            <div class="span12 field-box">
                                <label>服务意向:</label>
                                {volist name="catedata_s" id="vo"}
                                <input type="checkbox" name="purpose[]" value="{$vo.cat_id}"/>{$vo.cat_name}
                                {/volist}
                            </div>
                            <div class="span12 field-box">
                                <label>期望薪资:</label>
                                <input class="span9" type="text" name="salary" placeholder="期望薪资"/>
                            </div>
                            <div class="span12 field-box">
                                <label>Email:</label>
                                <input class="span9" type="text" name="email" placeholder="Email"/>
                            </div>
                                <div class="span11 field-box actions">
                                    <input type="submit" class="btn-glow primary" value="新建阿姨" />
                                    <span>OR</span>
                                    <input type="reset" value="放弃添加" class="reset" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- side right column -->
                    <div class="span3 form-sidebar pull-right">
                        <div class="btn-group toggle-inputs hidden-tablet">
                            <button class="glow left active" data-input="inline">INLINE INPUTS</button>
                            <button class="glow right" data-input="normal">NORMAL INPUTS</button>
                        </div>
                        <div class="alert alert-info hidden-tablet">
                            <i class="icon-lightbulb pull-left"></i>
                            Click above to see difference between inline and normal inputs on a form
                        </div>                        
                        <h6>Sidebar text for instructions</h6>
                        <p>Add multiple users at once</p>
                        <p>Choose one of the following file types:</p>
                        <ul>
                            <li><a href="#">Upload a vCard file</a></li>
                            <li><a href="#">Import from a CSV file</a></li>
                            <li><a href="#">Import from an Excel file</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->
