<div class="large-container">
    <div class="large-content">
        <div class="content">
            <div class="banner">
                <a href="#"><img src="/__PUBLIC_FONT__/img/baojie.png" alt="标题1"/></a>
            </div>
        </div>
        <div class="clean">
            <h2 class="title">{$maincatedata.cat_name}</h2>
            <ul class="clean-list">
                {volist name="catedata" id="vo"}
                <li class="clean-item">
                    <img src="/__PUBLIC_FONT__/img/adv/clean-1.jpg" height="160" width="290"/>
                    <div class="clean-word">
                    <span class="name">
                      {$vo.cat_name}
                    </span>
                        <span class="desc">
                        <marquee direction="left" scrollamount="6" >{$vo.cat_desc}</marquee>
                    </span>
                        <span class="payment">
                     {$vo.cat_shopmsg}
                    </span>
                        <a class="show-more">
                            <button>我要预约！</button>
                        </a>
                    </div>
                </li>
                {/volist}

            </ul>
        </div>
    </div>
</div>