<div class="large-container">
    <div class="large-content">
        <div class="content">
            <div class="banner">
                <a href="#"><img src="/__PUBLIC_FONT__/img/baojie.png" alt="标题1"/></a>
            </div>
        </div>
        <div class="clean">
            <h2 class="title">家政保洁</h2>
            <ul class="clean-list">
                <li class="clean-item">
                    <img src="/__PUBLIC_FONT__/img/adv/clean-1.jpg" height="160" width="290"/>
                    <div class="clean-word">
                    <span class="name">
                      家庭保姆
                    </span>
                        <span class="desc">
                        <marquee direction="left" scrollamount="6" >严格筛选，系统培训，标准化流程，家庭日常清洁最优之选</marquee>
                    </span>
                        <span class="payment">
                     <red> 6800元</red>||整点限量<red>一元</red>秒杀
                    </span>
                        <a class="show-more">
                            <button> 查看详情</button>
                        </a>
                    </div>
                </li>
                <li class="clean-item">
                    <img src="/__PUBLIC_FONT__/img/adv/clean-2.jpg" height="160" width="290"/>
                    <div class="clean-word">
                    <span class="name">
                      育婴保姆
                    </span>
                        <span class="desc">
                        <marquee direction="left" scrollamount="6" >专业育婴呵护宝宝快乐成长，科学膳食宝宝才健康</marquee>

                    </span>
                        <span class="payment">
                      <red>1元</red>起抢购
                    </span>
                        <a class="show-more">
                            <button>
                                查看详情
                            </button>
                        </a>
                    </div>
                </li>
                <li class="clean-item">
                    <img src="/__PUBLIC_FONT__/img/adv/clean-3.jpg" height="160" width="290"/>
                    <div class="clean-word">
                      <span class="name">
                      月嫂服务
                    </span>
                        <span class="desc">
                        <marquee direction="left" scrollamount="6" >严格培训，标准化护理流程，为新妈妈和宝宝提供更多保障</marquee>
                    </span>
                        <span class="payment">
                      <red>1元</red>起抢购
                    </span>
                        <a class="show-more">
                            <button>
                                查看详情
                            </button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>