<div class="large-container">
    <div class="large-content">
        <div class="content">
            <div class="banner">
                <a href="#"><img src="/__PUBLIC_FONT__/img/baojie.png" alt="标题1"/></a>
            </div>
        </div>
        <div class="clean">
            <h2 class="title">{$maincatedata.0.cat_name}分类下的阿姨</h2>
            <ul class="clean-list">

                {volist name="auntlist" id="vo"}
                <li class="clean-item">
                    <img src="/__PUBLIC_FONT__/img/adv/clean-1.jpg" height="160" width="290"/>
                    <div class="clean-word">
                    <span class="name">
                      {$vo.name}
                    </span>
                        <span class="desc">
                        <marquee direction="left" scrollamount="6" >服务范围：
                            {volist name="vo.purpose_str_arr" id="voo"}
                            {$voo.0.cat_name}
                            {/volist}
                            &nbsp;|&nbsp;
                            性别：
                            {if condition="$vo.sex==0"}
                            男
                            {/if}
                            {if condition="$vo.sex==1"}
                            女
                            {/if}
                        </marquee>
                    </span>
                        <span class="payment">
                     {$vo.desc}
                    </span>
                        <a class="show-more">
                            <button>点击预约</button>
                        </a>
                    </div>
                </li>
                {/volist}

            </ul>
        </div>
    </div>
</div>