
<div id="personList" class="list_box">
    
           

<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/3104afa7-9fb2-4e43-a9bf-fab2847196ba" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/11e039a51.jpg" width="120" height="160" alt="王桂芝" title="王桂芝" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/3104afa7-9fb2-4e43-a9bf-fab2847196ba" target="_blank">王桂芝</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0059769</div>
        <div class="summary">44岁 属鼠 狮子座 河北人 高中<br>2016年加入嘉乐会。从事育儿嫂,月嫂,育儿兼家务等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/3104afa7-9fb2-4e43-a9bf-fab2847196ba" title="添加到我的收藏夹">收藏(85)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/3104afa7-9fb2-4e43-a9bf-fab2847196ba" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/ee99d473-2f81-4f36-9d4c-1f8e428d6475" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/ceb0b09d.jpg" width="120" height="160" alt="谷文" title="谷文" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/ee99d473-2f81-4f36-9d4c-1f8e428d6475" target="_blank">谷文</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0055675</div>
        <div class="summary">49岁 属猴 金牛座 河北人 中专<br>2016年加入嘉乐会。从事月嫂,育儿嫂,育儿兼家务等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/ee99d473-2f81-4f36-9d4c-1f8e428d6475" title="添加到我的收藏夹">收藏(299)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/ee99d473-2f81-4f36-9d4c-1f8e428d6475" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/b761f29e-9d5f-4233-bede-652fa14afd49" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/140b97519.jpg" width="120" height="160" alt="石付荣" title="石付荣" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/b761f29e-9d5f-4233-bede-652fa14afd49" target="_blank">石付荣</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0066775</div>
        <div class="summary">44岁 属牛 白羊座 河北人 初中<br>2016年加入嘉乐会。从事一般家务,家务兼育儿,月嫂等工作。刚刚涉足家政行业。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/b761f29e-9d5f-4233-bede-652fa14afd49" title="添加到我的收藏夹">收藏(105)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/b761f29e-9d5f-4233-bede-652fa14afd49" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/3145d966-5d0f-4646-b407-bdeb1b2ea56a" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/10d8a4587.jpg" width="120" height="160" alt="魏颖" title="魏颖" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/3145d966-5d0f-4646-b407-bdeb1b2ea56a" target="_blank">魏颖</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0066657</div>
        <div class="summary">43岁 属虎 白羊座 黑龙江人 高中<br>2016年加入嘉乐会。从事月嫂,育儿嫂等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/3145d966-5d0f-4646-b407-bdeb1b2ea56a" title="添加到我的收藏夹">收藏(257)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/3145d966-5d0f-4646-b407-bdeb1b2ea56a" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/6f39f007-bdf0-48db-b74b-9ce9b6fb120d" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/f1f4063c.jpg" width="120" height="160" alt="崔艳凤" title="崔艳凤" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/6f39f007-bdf0-48db-b74b-9ce9b6fb120d" target="_blank">崔艳凤</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0053260</div>
        <div class="summary">49岁 属羊 巨蟹座 吉林人 中专<br>2016年加入嘉乐会。从事月嫂,育儿嫂等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/6f39f007-bdf0-48db-b74b-9ce9b6fb120d" title="添加到我的收藏夹">收藏(431)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/6f39f007-bdf0-48db-b74b-9ce9b6fb120d" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/a3694d99-1995-4739-92b7-267ba2a5f7fa" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/fa257a3d.jpg" width="120" height="160" alt="詹丽英" title="詹丽英" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/a3694d99-1995-4739-92b7-267ba2a5f7fa" target="_blank">詹丽英</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0075415</div>
        <div class="summary">43岁 属牛 双子座 广西人 高中<br>2016年加入嘉乐会。从事月嫂,育儿嫂等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/a3694d99-1995-4739-92b7-267ba2a5f7fa" title="添加到我的收藏夹">收藏(172)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/a3694d99-1995-4739-92b7-267ba2a5f7fa" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/fc755677-f816-4200-be56-d8ff826107f7" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/a96891fe.jpg" width="120" height="160" alt="钟杰" title="钟杰" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/fc755677-f816-4200-be56-d8ff826107f7" target="_blank">钟杰</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0061077</div>
        <div class="summary">35岁 属鸡 天秤座 河北人 中专<br>2016年加入嘉乐会。从事月嫂,育儿嫂等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/fc755677-f816-4200-be56-d8ff826107f7" title="添加到我的收藏夹">收藏(237)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/fc755677-f816-4200-be56-d8ff826107f7" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/5128f0d6-c3b1-45a0-a4b0-af95a3cff3aa" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/10c1e3ab9.jpg" width="120" height="160" alt="张素敏" title="张素敏" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/5128f0d6-c3b1-45a0-a4b0-af95a3cff3aa" target="_blank">张素敏</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0045621</div>
        <div class="summary">39岁 属蛇 巨蟹座 陕西人 高中<br>2015年加入嘉乐会。从事育儿嫂,月嫂,育儿兼家务等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/5128f0d6-c3b1-45a0-a4b0-af95a3cff3aa" title="添加到我的收藏夹">收藏(543)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/5128f0d6-c3b1-45a0-a4b0-af95a3cff3aa" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/d163a069-19ae-4279-b6fa-dd1c195686a5" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/81778d50.jpg" width="120" height="160" alt="李红霞" title="李红霞" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/d163a069-19ae-4279-b6fa-dd1c195686a5" target="_blank">李红霞</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0056237</div>
        <div class="summary">39岁 属蛇 天秤座 山东人 高中<br>2016年加入嘉乐会。从事月嫂,育儿嫂,育儿兼家务等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/d163a069-19ae-4279-b6fa-dd1c195686a5" title="添加到我的收藏夹">收藏(329)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/d163a069-19ae-4279-b6fa-dd1c195686a5" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="list_item">
    <a href="http://www.ayilaile.com/Detail/Person/0b155506-cb18-4cd1-af27-ffa5c7c53876" target="_blank"><img src="/__PUBLIC_AYI__/ayilaile_list/ba1aa2d3.jpg" width="120" height="160" alt="娄敏" title="娄敏" class="photo"></a>
    <div class="info">
        <div class="title">
<a href="http://www.ayilaile.com/Detail/Person/0b155506-cb18-4cd1-af27-ffa5c7c53876" target="_blank">娄敏</a>                <img src="/__PUBLIC_AYI__/ayilaile_list/v16.png" alt="" title="已认证">
        </div>
        <div class="number">0071713</div>
        <div class="summary">47岁 属狗 双鱼座 辽宁人 高中<br>2016年加入嘉乐会。从事月嫂,育儿嫂等工作。有<span class="money">两年以上</span>家政行业工作经验。</div>
        <div class="salary">
        </div>
        <div class="bottom">
            <a class="favorite" data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess" href="http://www.ayilaile.com/Json/Favorite/0b155506-cb18-4cd1-af27-ffa5c7c53876" title="添加到我的收藏夹">收藏(198)</a>
            <a class="view" href="http://www.ayilaile.com/Detail/Person/0b155506-cb18-4cd1-af27-ffa5c7c53876" target="_blank">查看</a>
        </div>
    </div>
</div>
<div class="clear"></div>

<script language="javascript" type="text/javascript">
        
        $(function () {
            SetPage(144, 1, 1436);
        });
        
</script>


</div>
