<div class="content">

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>服务列表</h3>
                <div class="span10 pull-right">
                    <input type="text" class="span5 search" placeholder="Type a user's name..." />

                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            Filter users
                            <i class="arrow-down"></i>
                        </div>
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body">
                                <p class="title">
                                    Show users where:
                                </p>
                                <div class="form">
                                    <select>
                                        <option />姓名
                                        <option />年龄
                                        <option />地址
                                        <option />Signed up
                                        <option />Last seen
                                    </select>
                                    <select>
                                        <option />is equal to
                                        <option />is not equal to
                                        <option />is greater than
                                        <option />starts with
                                        <option />contains
                                    </select>
                                    <input type="text" />
                                    <a class="btn-flat small">Add filter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{:url('Admin/Good/add_good')}" class="btn-flat success pull-right">
                        <span>&#43;</span>
                        添加服务
                    </a>
                </div>
            </div>

            <!-- Users table -->
            <div class="row-fluid" >
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span3">
                            <span class="line"></span>全选
                            <input type="checkbox" />

                        </th>
                        <th class="span3">
                            <span class="line"></span>名称
                        </th>
                        <th class="span3">
                            <span class="line"></span>种类
                        </th>
                        <th class="span3">
                            <span class="line"></span>价格
                        </th>
                        <th class="span3">
                            <span class="line"></span>服务详情
                        </th>
                        <th class="span3">
                            <span class="line"></span>热度（点击次数）
                        </th>
                        <th class="span3">
                            <span class="line"></span>操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {volist name="goodslist" id="vo"}
                    <tr class="first">
                        <td >
                            <input type="checkbox" />

                        </td>
                        <td >
                            <a href="#">{$vo.goods_name} </a>
                        </td>
                        <td class="description" >
                            {eq name='vo.goods_cid' value='1'}月嫂{/eq}
                            {eq name='vo.goods_cid' value='2'}育儿嫂{/eq}
                            {eq name='vo.goods_cid' value='3'}家务员{/eq}
                            {eq name='vo.goods_cid' value='4'}小时工{/eq}
                            {eq name='vo.goods_cid' value='5'}养老保姆{/eq}
                        </td>
                        <td class="description" >
                            {$vo.goods_price}
                        </td>
                        <td class="description" >
                            {$vo.information}
                        </td>
                        <td class="description" >
                            {$vo.clickcount}
                        </td>
                        <td >
                            <span class="label label-success">Active</span>
                            <ul class="actions" >

                                <li><a href="user_mod?goods_id={$vo.goods_id}"><i class="table-edit"></i></a></li>

                                <li class="last"><a href="user_delete?goods_id={$vo.goods_id}"><i class="table-delete"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                    {/volist}
                    <!-- row -->

                    </tbody>
                </table>
            </div>
            <div class="pagination pull-right">
                <ul>
                    <li><a href="#">&#8249;</a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&#8250;</a></li>
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>
</div>