.large-container {
  background #ffffff
  .step {
    display block
    height 200px
    h2 {
      font-size: 1.5em;
      color: #249428;
      font-weight: bold;
      margin: 0 0 5px 0;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
    .step_li {
      float left
      margin: 2%
      img {
        vertical-align middle
        margin 0 8px 0 0
        float left
      }
      .number {
        float: left;
        display: block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        margin: 9px 8px 0 0;
        background-image: url(../img/icon/number_bg.png);
        background-repeat: no-repeat;
        background-position: 0 50%;
        color: #fff;
        font-weight: bold;
      }
      .text {
        width 230px
        float left
        display: block;
        height: 46px;
        line-height: 23px;
        font-size: 1.2em;
        margin-right: 20px
        a {
          text-decoration none
        }
      }
    }

  }
  form {
    border 1px solid #f5f5f5
    background #f5f5f5
    border-radius 10px
    height 190px
    margin-bottom 40px
    .item {
      float: left;
      display: inline;
      width: 80px;
      padding-left: 8px;
      color: #784D1A;
    }
    .check {
      display block
      li{
        float: left;
        display: block;
        margin-bottom: 2px;
        cursor pointer
        margin-right 30px
      }
      .default{
        background-color #0099ff
      }
    }
    div{
      width 90%
      height 20px
      line-height: 1.6em;
    }
  }
  .list_box{
    .list_item{
      float: left;
      display: inline;
      width: 40%
      height: 220px;
      margin: 0 5% 5px 5%;
      a{
        text-decoration none
      }
     img{
       float left
       vertical-align middle
      }
    }
    .info{
      margin: 20px 22px 0 153px;
      div{
        margin-bottom 10px
      }
    }
  }
  .pagebar{
    display block
    clear: both;
    height: 70px;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
   li{
     display: inline-block;
     width: 53px;
     height: 52px;
     line-height: 52px;
     cursor: pointer;
     background-image: url(../img/icon/page.png);
     background-repeat: no-repeat;
     font-size: 0.5em;
    }
  }

}
