.page {
  width 80%
  margin 0 auto
  height 550px
  .detail_left_wrapper {
    border-color #a9a9a9
    .detail_left {
      clear: both
      padding: 25px 20px
      float: left
      display: inline
      width: 280px
      margin-left: 20px
      box-shadow 3px 3px 15px rgba(3, 7, 3, 0.53)
      h1 {
        margin: 10px 25px
        text-align center
        font-size 1.8em
        color #0099ff
        font-weight bold
        display block
      }
      h3 {
        font-size 1.3em
        text-align center
      }
      .photo_box {
        width: 280px
        height 290px
        margin 5px 0 0 0
        .photo {
          width 180px
          vertical-align middle
          margin: 20px 49px
        }
      }
      .buttons {
        height: 46px;
        margin: 0 0 10px 0;
        text-align: center;
        a {
          text-decoration none
          line-height 46px
          display inline-block
          margin-right 0.5em
          width 110px
          color #ffffff
          border-radius 10px
          height 100%
          background-color #0099ff
        }
      }
      .bshare-custom {
        margin-left 10px
      }
    }
  }
  .detail_right {
    padding-left 6%
    margin-left: 30%;
    .tab {
      cursor pointer
      height: 40px;
      font-size: 1.2em;
      font-weight: bold;
      color #0099ff
      li {
        display inline-block
        padding -10px
        margin-right 20px
        background-color #F2F2F2
        width 133px
        text-align center
        height 100%
        line-height 40px
      }
    }
    a {
      text-decoration none
    }
    .area1 {
      padding-top 20px
      padding-left 20px
      p {
        font-size 0.7em
        margin-bottom 20px
      }

      .advertise_img {
        margin-top 5%
        width 70%
        display flex
        align-items align-items
        justify-content space-between
      }
      .advertise_txt {
        width 67%
        padding 2% 1.5% 2% 1%
        display flex
        align-items align-items
        justify-content space-between
      }
      .buttons a {
        display inline-block
        background-color #0099ff
        height 40px
        width 116px
        border-radius 5px
        text-align:center
        line-height 40px
        color #ffffff
      }
    }
    .area2 {
      padding-top 40px
      padding-left 20px
      p {
        font-size 0.7em
        line-height: 30px;
      }

    }
  }
}

.link {
  width 80%
  height 200px
  margin 20px auto
  padding-top 30px
  background-color #f5f5f5
  ul {
    display: block;
    float: left;
    width: 160px;
    margin: 0 0 0 40px;
    .title {
      font-size: 1.3em;
      padding: 5px 0;
      color #0099ff
    }
    li {
      margin-bottom 10px
      a {
        text-decoration none
      }
      a:hover {
        color #000
      }
    }
  }
}