<div >

<form method="post" action="">
    <table>
        <thead>阿姨信息修改</thead>
        <tbody >
        <tr>
            <td>姓名</td>
            <td><input class="span12" name="name" type="text" value="{$aunt.name}"/><br></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input class="span12" name="sex" type="text" value="{$aunt.sex}"/><br></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input class="span12" name="age" type="text" value="{$aunt.age}"/><br></td>
        </tr>
        <tr>
            <td>身高</td>
            <td><input class="span12" name="height" type="text" value="{$aunt.height}"/><br></td>
        </tr>
        <tr>
            <td>体重</td>
            <td><input class="span12" name="weight" type="text" value="{$aunt.weight}"/><br></td>
        </tr>
        <tr>
            <td>民族</td>
            <td><input class="span12" name="folk" type="text" value="{$aunt.folk}"/><br></td>
        </tr>
        <tr>
            <td>电话</td>
            <td><input class="span12" name="phone" type="text" value="{$aunt.phone}"/><br></td>
        </tr>
        <tr>
            <td>信箱</td>
            <td><input class="span12" name="email" type="text" value="{$aunt.email}"/><br></td>
        </tr>
        <tr>
            <td>籍贯</td>
            <td><input class="span12" name="place" type="text" value="{$aunt.place}"/><br></td>
        </tr>
        <tr>
            <td>详细住址</td>
            <td><input class="span12" name="address" type="text" value="{$aunt.address}"/><br></td>
        </tr>
        <tr>
            <td>学历</td>
            <td><input class="span12" name="learn" type="text" value="{$aunt.learn}"/><br></td>
        </tr>
        <tr>
            <td>经验</td>
            <td><input class="span12" name="experience" type="text" value="{$aunt.experience}"/><br></td>
        </tr>
        <tr>
            <td>薪资要求</td>
            <td><input class="span12" name="salary" type="text" value="{$aunt.salary}"/><br></td>
        </tr>
        <tr>
            <td>个人详情</td>
            <td><input class="span12" name="information" type="text" value="{$aunt.information}"/><br></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
        </tr>
        </tbody>
    </table>
</form>
</div>