
<div class="page">
    <div class="detail_left_wrapper">
        <div class="detail_left">
            <h1>{$aunt.name}
                <img src="/__PUBLIC_FONT__/img/icon/v16.png" alt="" title="已认证">
            </h1>
            <h3>月嫂,育儿嫂,一般家务</h3>
            <div class="photo_box">
                <img src="/__PUBLIC_FONT__/img/adv/page.jpg" alt="韩英英" title="韩英英" class="photo">
            </div>

            <div class="buttons">
                <a class="button" href="#" target="_blank">预约她</a>
                <a class="button" href="#" title="收藏到我的收藏夹">收藏</a>
            </div>
            <div class="bshare-custom icon-medium" style="float:left;margin-top:8px;">
                <div class="bsPromo bsPromo2"></div>
                分享：
                <a class="bshare-sinaminiblog" title="分享到新浪微博" href="javascript:void(0);"></a>
                <a class="bshare-weixin" title="分享到微信" href="javascript:void(0);"></a>
                <a class="bshare-qqmb" title="分享到腾讯微博" href="javascript:void(0);"></a>
                <a class="bshare-qzone" title="分享到QQ空间" href="javascript:void(0);"></a>
                <a class="bshare-renren" title="分享到人人网" href="javascript:void(0);"></a>
                <a class="bshare-more bshare-more-icon more-style-addthis" title="更多平台"></a>
            </div>
        </div>
    </div>
    <div class="detail_right">
        <ul class="tab">
            <li class="tab1"><span class="current" data-for="area1">基本信息</span></li>
            <li class="tab2"><span data-for="area2" class="">匹配参考</span></li>
        </ul>
        <div class="summary area1" style="display: block">
            <div style="position:relative;font-size: 25px;">
                <p ><strong>年龄：</strong>{$aunt.age}&nbsp;&nbsp;&nbsp;<strong> 籍贯：</strong>{$aunt.place}&nbsp;&nbsp; &nbsp;<strong>民族：</strong>{$aunt.folk} </p>
                <p>
                    <strong>身高：</strong>{$aunt.height} 厘米&nbsp;&nbsp;
                    <strong>体重：</strong>{$aunt.weight} 公斤&nbsp;&nbsp;
                </p>
                <p><strong>个人信息：</strong>{$aunt.information}</p>
                <p>
                    <strong>现居住地址：</strong>{$aunt.address}
                </p>
                <div id="BMap" style="border:1px solid #CDC7BB; height:350px; display:none;"></div>
                <p></p>
                <p><strong>工作意向：</strong>{$aunt.purpose}</p>
                <p>
                    <strong>综合评分：</strong><img src="/__PUBLIC_FONT__/img/adv/score.png" >&nbsp; &nbsp;
                    <a data-ajax="true" data-ajax-failure="ActionFailure" data-ajax-success="FavoriteSuccess"
                       href="/Json/Favorite/b3f0177f-2249-43cc-85b5-a4c510e49e75">已有 27 人收藏她</a>
                </p>
                <div class="moreinfo">
                    <div class="advertise_img">
                        <img src="/__PUBLIC_FONT__/img/icon/验证.png" />
                        <img src="/__PUBLIC_FONT__/img/icon/服务.png"/>
                        <img src="/__PUBLIC_FONT__/img/icon/记录.png" />
                        <img src="/__PUBLIC_FONT__/img/icon/家庭.png"/>
                    </div>
                        <div >
                            <p>身份认证</p>
                            <p>培训可查</p>
                            <p>服务记录</p>
                            <p>家庭组成</p>

                        </div>

                    <div class="buttons">
                        <span>要查看更多关于她的资料？</span>
                        <a class="button2"
                           href="/Account/LogOn?returnUrl=%2FDetail%2FPerson%2Fb3f0177f-2249-43cc-85b5-a4c510e49e75">立即登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary area2" style="display: none">
            <div class="secion">
                <h5>生肖：卯兔</h5>
                <p>个性温柔体贴，为人和气，给客户很舒服的感觉。</p>
                <p>心思细密，头脑冷静，遇事不慌，应变力强。</p>
                <p>擅长沟通，很受客户的欢迎。如果遇到和客户不一致的观点，如带孩子的观念、方式不同，做饭做家务的方式不同，兔阿姨会组织大家耐心沟通，达成一致的共识，然后大家按此方案做事，会减少很多摩擦和无谓的争执。</p>
                <p>厌恶与人争执，带有能化敌为友的柔和气质，在客户家就算发生争执不快，也会很快化解的。</p>
            </div>
            <div class="secion">
                <h5>星座：处女</h5>
                <p>做事认真而有条理、追求完美，请这样的阿姨在家帮忙做活，会让客户轻松不少。</p>
                <p>做事善始善终，轻易不下户，稳定性极高，减少了客户总换阿姨的烦恼。</p>
                <p>心态好，对不愉快的事能放得开，阿姨不会把负面情绪传染给他人，更不会带着情绪工作。</p>
            </div>

        </div>

    </div>

</div>
<div class="link">
    <ul>
        <li class="title">筛选工种</li>
        <li><a href="#">月嫂</a></li>
        <li><a href="#">育儿嫂</a></li>
        <li><a href="#">家务员</a></li>
        <li><a href="#">小时工</a></li>
        <li><a href="#">养老</a></li>
    </ul>
    <ul>
        <li class="title">服务须知</li>
        <li><a href="#">雇主问答</a></li>
        <li><a href="#">求职问答</a></li>
        <li><a href="#">工资参考</a></li>
        <li><a href="#">母婴护理师等级划分</a></li>
    </ul>
    <ul>
        <li class="title">阿姨大学</li>
        <li><a href="#">管理课程</a></li>
        <li><a href="#">家政员课程</a></li>
        <li><a href="#">雇主课程</a></li>
        <li><a href="#">证书查询</a></li>
    </ul>
    <ul>
        <li class="title">优惠信息</li>
        <li><a href="#">10周年优惠</a></li>
    </ul>
    <ul>
        <li class="title">家政社区</li>
        <li><a href="#" target="_blank">雇主吐槽</a></li>
        <li><a href="#">女子客栈</a></li>
        <li><a href="#">原生态写作</a></li>
        <li><a href="#">中国好阿姨</a></li>
        <li><a href="#">大家拍</a></li>
    </ul>
</div>
