<div class="content">

    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>订单列表</h3>
                <div class="span10 pull-right">
                    <input type="text" class="span5 search" placeholder="Type a user's name..." />

                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            Filter users
                            <i class="arrow-down"></i>
                        </div>
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body">
                                <p class="title">
                                    Show users where:
                                </p>
                                <div class="form">
                                    <select>
                                        <option />姓名
                                        <option />年龄
                                        <option />地址
                                        <option />Signed up
                                        <option />Last seen
                                    </select>
                                    <select>
                                        <option />is equal to
                                        <option />is not equal to
                                        <option />is greater than
                                        <option />starts with
                                        <option />contains
                                    </select>
                                    <input type="text" />
                                    <a class="btn-flat small">Add filter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="{:url('Admin/Adminer/admin_add')}" class="btn-flat success pull-right">
                        <span>&#43;</span>
                        NEW USER
                    </a>
                </div>
            </div>

            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span4 sortable">
                            预约用户
                        </th>
                        <th class="span3 sortable">
                            <span class="line"></span>服务时间
                        </th>
                        <th class="span3 sortable">
                            <span class="line"></span>期望的服务
                        </th>
                        <th class="span3 sortable">
                            <span class="line"></span>期望薪资
                        </th>
                        <th class="span3 sortable align-right">
                            <span class="line"></span>操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {volist name="order_list" id="vo"}
                    <tr class="first">
                        <td>
                        <img src="/__PUBLIC__/static/admin/img/contact-img.png" class="img-circle avatar hidden-phone" />
                        <a href="{:url('Admin/Order/show_detail')}?order_id={$vo.id}" alt="点击查看订单详情">{$vo.user_true_name}</a>
                        </td>
                        <td>
                            {$vo.arrive_time}
                        </td>
                        <td>
                            {$vo.user_purpose}
                        </td>
                        <td>
                            {$vo.user_money}元/{$vo.unit}
                        </td>
                        <td class="align-right">
                            <a href="{:url('Admin/Order/order_mod')}?order_id={$vo.id}">修改</a>
                            <a href="{:url('Admin/Order/order_del')}?order_id={$vo.id}">删除</a>
                        </td>
                    </tr>
                    {/volist}

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    <!-- row -->

                    </tbody>
                </table>
            </div>
            <div class="pagination pull-right">
                <ul>
                    <li><a href="#">&#8249;</a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&#8250;</a></li>
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>
</div>