
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阿姨来啦</title>
    <link rel="icon" href="/__PUBLIC_FONT__/img/icon/title-icon.png"/>
    <link rel="stylesheet" href="/__PUBLIC_FONT__/node_modules/reset.css/reset.css">
    <link rel="stylesheet" href="/__PUBLIC_FONT__/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/__PUBLIC_FONT__/css/common.css">
    <link rel="stylesheet" href="/__PUBLIC_FONT__/css/index.css">
    <link rel="stylesheet" href="/__PUBLIC_FONT__/css/house-keeping.css">

    <script src="/__PUBLIC_FONT__/js/myfocus-2.0.4.full.js"></script>

</head>
<body>
<header class="header cls">
    <div class="nav">
        <div class="logo">
            <a href="{:url('Index/Index/Index')}">
            <img src="/__PUBLIC_FONT__/img/icon/logo.png">
            </a>
        </div>
        <ul class="nav-list cls">
            {volist name="catelist" id="vo"}
            <a href="{:url('Index/Index/cate_list')}?cat_id={$vo.cat_id}">
                <li class="nav-item">{$vo.cat_name}</li>
            </a>
            {/volist}
            {if condition="$user_name==NULL"}
            {if condition="$aunt_name==NULL"}
            <a href="#">
                <li class="nav-item">加入我们</li>
            </a>
            <a href="{:url('Index/Auth/login')}">
                <li class="nav-item">登录</li>
            </a>
            {/if}
            {/if}
            {if condition="$user_name || $aunt_name!=NULL"}
            <a href="{:url('Index/Aunt/aunt_center')}">
                <li class="nav-item">用户中心</li>
            </a>
            <a href="{:url('Index/Auth/logout')}">
                <li class="nav-item">登出</li>
            </a>
            {/if}



        </ul>
    </div>
</header>


{__CONTENT__}

<footer class="footer">
    <ul class="about-list">
        <li class="about-item"><a href="">网站地图</a></li>
        <li class="about-item">|</li>
        <li class="about-item"><a href="">关于我们</a></li>
        <li class="about-item">|</li>
        <li class="about-item"><a href="">加入我们</a></li>
        <li class="about-item">|</li>
        <li class="about-item"><a href="">媒体报道</a></li>
    </ul>
    <div class="msg">
        <p class="about-botton">@2017 zhoubao.com 阿姨来了版权所有</p>
        <p class="about-botton">周宝家政有限公司</p>
    </div>
</footer>

<script>
    myFocus.set({id: 'boxID'});
</script>
</body>
</html>